*{
  margin: 0;
  padding: 0;
}
.whole{
  background-color: rgba(190, 202, 190, 0.603);
  height: 500px;
}
/*  Header CSS*/
.header{
  height: 60px;
  font-size: 40px;
  background: rgb(51, 49, 49);
  color: white;
}
.header .fa{
  margin: 0 20px;
}

.btn{
  color: black !important;
  margin: 10px 20px;
}

/* Title CSS*/
.text{
  background: grey;
  margin-top: 30px;
  height: 50px;
  border-radius: 5px;

}

/* Left PAge CSS*/
.heading{
  background: rgb(236, 7, 7);
  color: white;
  margin-top: 30px;
  height: 50px;
  padding: 10px 20px;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
.heading1{
  background: white;
  color: black;
  border: 1px solid rgb(219, 217, 217);
  height: 50px;
  padding: 10px 20px;
  font-size: 20px;
  
  
}
.heading .fa{
  padding-right: 10px;
}
.heading1 .fa{
  padding-right: 10px;
}

.form{
  margin: 10px 20px;
}
.field{
  width: 100%;
  height: 30px;
  
  
}
.right{
  border: 1px solid rgb(156, 154, 154);
}

.trash{
  background: red;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 5px;
}
.edit{
  background: blue;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.check{
  background: green;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}
td{
  font-size: 15px;
  font-weight: bold;
}
th{
  font-size: 18px;
  font-weight: bold;
}